@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
       url("../fonts/opensansbold.woff") format("woff");
  font-style: bold;
}

body {
  font-family: "opensans", "Tahoma", sans-serif;
}

ul, h1, h2, b, label, .btn {
  font-family: "opensansbold", "Tahoma", sans-serif;
}
