@mixin reset-ul($margin: 0, $padding: 0, $list-style: 0) {
  margin: $margin;
  padding: $padding;
  list-style: $list-style;
}

@mixin margin-side($left: 30px, $right: 30px) {
  margin-left: $left;
  margin-right: $right;
}

@mixin margin($top: 30px, $bottom: 30px) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($top: 30px, $bottom: 30px) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin font($size, $line-height) {
font-size: $size;
line-height: $line-height;
}

@mixin font-set($weight, $size, $line-height) {
font-weight: $weight;
font-size: $size;
line-height: $line-height;
}

@mixin transition($property, $time, $transition) {
transition-property: $property;
transition-duration: $time;
transition-timing-function: $transition;
}

@mixin center() {
display: flex;
justify-content: center;
align-items: center;
}
