$background-color: #ffffff;
$black: #000000;
$white: #ffffff;
$color-text: $black;
$accent: #63d1bb;
$dark-accent: #56c3b2;
$second-accent: #62d1ba;
$primary-color: #444444;
$light-border: #ececec;
$color-bg: #f1f1f1;
$font-size: 16px;
$font-primary: "Open Sans", "Tahoma", sans-serif;
$font-primary-bold: "Open Sans Bold", "Tahoma", sans-serif;
$line-height: 1.6;
$tablet: 768px;
$desktop: 1150px;
