@import "variables";
@import "mixin";
@import "fonts";
@import "normalize";
@import "base/btn";
@import "base/base-style";
@import "blocks/main-nav";
@import "blocks/page-header";
@import "blocks/categories";
@import "blocks/feature";
@import "blocks/about";
@import "blocks/reviews";
@import "blocks/contacts";
@import "blocks/connect";
@import "blocks/promo-text";
@import "blocks/order-form";
@import "blocks/catalog";
@import "blocks/view-work";
@import "blocks/footer";
@import "blocks/copyright";
@import "blocks/social";
@import "blocks/modal-order";
