.catalog {
  @include margin-side();
  margin-top: 30px;
}

.catalog-item {
  margin-bottom: 30px;
  padding-left: 28px;
  border: 1px solid $light-border;
}

.catalog-item__view {
  height: 195px;
}

.catalog-item__title {
  @include padding(30px, 20px);
}

.catalog-item__data {
  padding-bottom: 30px;
}

.catalog-item__price {
  @include padding(30px, 35px);
}
