.view-work {
  border: 1px solid $light-border;
}

.view-work__title {
  @include padding();
  margin: 0;
  text-align: center;
  font-family: $font-primary-bold;
}

.view-work__player {
  height: 150px;
}

.view-work__text {
  @include padding(35px, 30px);
  margin: 0;
}

.view-work__description {
  padding-left: 28px;
  padding-bottom: 33px;
}

.view-work__btn {
  font-family: $font-primary-bold;
}
