html,body{
height: 100%;
}

body {
width: 320px;
min-height: 100hv;
}

.feature,
.about,
.reviews,
.contacts,
.connect-btn {
  @include margin-side(30px, 30px);
}

p, h1, h2, .reviews_item {
  margin: 0;
  padding: 0;
}

.page-footer__social ul,
.main-nav ul,
.categories ul,
.page-footer ul,
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}


