.categories__list {
  @include font(19px, 1.3);
  width: 100%;
  background-color: $accent;
}

.categories__item {
  height: 103px;
}

.categories__item--toys {
  background-color: $dark-accent;
}

.categories__link {
  color: #ffffff;
}


