.contacts__title {
  @include font(18px, 1.7);
  @include padding(45px, 40px);
}

.contacts__wrapper {
  @include font(15px, 2);
  color: $primary-color;
  padding-bottom:45px;
}

.contacts__map {
  height: 457px;
  border-bottom: 1px solid transparent;
}


