.reviews {
  @include margin-side(30px, 30px);
}

.reviews__wrapper {
  margin-bottom: 45px;
}

.reviews__title {
  @include font(25px, 1.2);
  @include padding(30px, 40px);
  margin: 0;
  font-family: $font-primary-bold;
}

.reviews_item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  @include font(15px, 2);
  padding-bottom: 40px;
  color: $primary-color;
  margin: 0;
}

.reviews__author-name {
  @include font(15px, 2);
  font-family: $font-primary-bold;
}

.reviews__author-tag {
  @include font(17px, 1.4);
  color: $primary-color;
}

.reviews__controls {
  @include margin(40px, 40px);
}

.reviews__btn {
  font-family: $font-primary-bold;
}
