.categories__list {
  @include reset-ul;
  @include font(19px, 1.3);
  min-width: 320px;
  font-weight: bold;
  margin-top: -87px;
}

.categories__item--interior a {
  background-color: $accent;
    &:hover,
    &:active {
      background-color: #59d5bc;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
}

.categories__item--toys a {
  background-color: $dark-accent;
    &:hover,
    &:active {
      background-color: $third-accent;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
}

.categories__link {
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  padding-top: 25px;
  padding-bottom: 15px;
  color: $white;
}

.categories__link:hover svg {
  fill: rgba(20, 144, 148, 0.7);
}

.categories__link:active svg {
  fill: rgba(20, 144, 148, 0.3);
}

.categories__icon-interior,
.categories__icon-toy {
  width: 60px;
  height: 63px;
  fill: rgba(20, 144, 148, 0.5);
  display: inline-block;
}

.categories__break-word {
  display: block;
  width: 26%;
}

@media (min-width: $tablet) {
  .categories__list {
    @include font(20px, 1.5);
    display: flex;
    margin: -117px auto;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
    z-index: 2;
    position: relative;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    padding: 27px 30px 27px 36px;

  }

  .categories__break-word {
    display: block;
    width: 38%;
  }
}

@media (min-width: $desktop) {
  .categories__list {
    width: 1150px;
  }
}
