.categories__list {
  @include reset-ul;
  @include font(19px, 1.3);
  min-width: 320px;
  font-weight: bold;
}

.categories__item--interior a {
  background-color: $accent;
    &:hover,
    &:active {
      background-color: #59d5bc;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
}

.categories__item--toys a {
  background-color: $dark-accent;
    &:hover,
    &:active {
      background-color: #46c1ae;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
}

.categories__link {
  display: block;
  padding: 27.5px 30px;
  color: $white;
}

.categories__break-word {
  display: block;
  width: 26%;
}

@media (min-width: $tablet) {
  .categories__list {
    display: flex;
    width: 668px;
    margin: 0 auto;
  }

  .categories__item {
    width: 50%;
  }

  .categories__link {
    display: block;
    padding: 35px 37px;
  }

  .categories__break-word {
    display: block;
    width: 38%;
  }
}

@media (min-width: $desktop) {
  .categories__list {
    width: 1050px;
  }
}
