.connect {
  padding: 40px 30px;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: $tablet) {
  .connect {
    padding: 55px 50px 57px;
    width: 768px;
  }

  .connect-btn {
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .connect {
    padding-top: 102px;
    padding-left: 175px;
    padding-right: 525px;
    padding-bottom: 0px;
    width: 1050px;
  }

  .connect-btn {
    margin: 0;
  }
}
