.contacts__wrapper {
  margin: 0 auto;
  padding: 30px 30px;
  min-width: 320px;
}

.contacts__title {
  @include font(18px, 1.7);
  margin: 0;
  padding-bottom: 43px;
  font-weight: bold;
}

.contacts__list {
  @include font(15px, 2);
  color: $primary-color;
}

.contacts__item {
  display: flex;
}

.contacts__label,
.contacts__text {
  margin-top: 0;
}

.contacts__text {
  margin: 0;
  padding-left: 25px;
}

.contacts__link {
  position: relative;
  padding-left: 25px;
  color: $primary-color;
    &:hover {
      color: #46c1ae;
      &:after {
        background-color: #46c1ae;
      }
    }
    &:active {
      color: rgba(70, 193, 174, 0.3);
      &:after {
        background-color: rgba(70, 193, 174, 0.1);
      }
    }
}

.contacts__link:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 180px;
  height: 1px;
  left: 25px;
  top: 30px;
  background-color: $second-accent;
}

.contacts__map {
  background: #cccccc url("../img/map-mobile@1x.jpg")no-repeat center;
  min-height: 457px;
}

@media (min-width: $tablet) {
  .contacts__wrapper {
    padding: 55px 50px 65px;
    width: 768px;
  }

  .contacts__title {
    @include font(43px, 1.2);
    padding-bottom: 73px;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__link {
    padding-right: 25px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: relative;
    margin: 0 auto;
    width: 1050px;
  }

  .contacts__wrapper {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-left: 175px;
    width: 50%;
  }

  .contacts__list {
    flex-direction: column;
    width: 100%;
  }

  .contacts__title {
    @include font(53px, 1.1);
    padding-top: 60px;
    padding-bottom: 80px;
    width: 100%;
  }

  .contacts__item {
    width: auto;
  }

  .contacts__text {
    padding-right: 25px;
  }

  .contacts__map {
    position: absolute;
    top: 70px;
    right: 0;
    width: 50%;
    background-size: cover;
    overflow: hidden;
  }
}
