.connect {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: $tablet) {
  .connect {
    padding: 62px 50px 0px;
    width: 768px;
  }

  .connect-btn {
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .connect {
    padding-top: 65px;
    padding-left: 175px;
    padding-right: 525px;
    padding-bottom: 0px;
    width: 1050px;
  }

  .connect-btn {
    margin: 0;
  }
}
