.contacts__wrapper {
  margin: 0 auto;
  padding: 10px 30px 23px;
  min-width: 320px;
}

.contacts__title {
  @include font(18px, 1.7);
  margin: 0;
  padding-bottom: 25px;
  font-weight: bold;
}

.contacts__icon-flag {
  display: none;
}

.contacts__list {
  @include font(15px, 2);
  color: $primary-color;
}

.contacts__item {
  display: flex;
  padding-bottom: 15px;
}

.contacts__label,
.contacts__text {
  margin-top: 0;
}

.contacts__text {
  margin: 0;
  padding-left: 30px;
}

.contacts__link {
  position: relative;
  padding-left: 30px;
  color: $primary-color;
    &:hover {
      color: #46c1ae;
      &:after {
        background-color: #46c1ae;
      }
    }
    &:active {
      color: rgba(70, 193, 174, 0.3);
      &:after {
        background-color: rgba(70, 193, 174, 0.1);
      }
    }
}

.contacts__link:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 180px;
  height: 1px;
  left: 25px;
  top: 30px;
  background-color: $second-accent;
}

.contacts__map {
  position: relative;
  min-height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__icon-map-pin {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -33px;
  margin-top: -50px;
  width: 66px;
  height: 100px;
  fill: $white;
  color: #6bc5b3;
}

@media (min-width: $tablet) {
  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 47px 50px 35px;
    width: 768px;
  }

  .contacts__title {
    @include font(43px, 1.2);
    padding-bottom: 48px;
    width: 90%;
  }

  .contacts__icon-flag {
    display: block;
    flex-grow: 1;
    margin-left: auto;
    margin-top: -10px;
    width: 65px;
    height: 82px;
    fill: $second-accent;
    color: $primary-color;
  }

  .editor-flag-triangle-notification-glyph {
    stroke: red;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__item {
    width: 50%;
  }

  .contacts__link {
    padding-right: 25px;
  }

  .contacts__text {
    padding-right: 40px;
  }

  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: relative;
    margin: 0 auto;
    width: 1050px;
  }

  .contacts__wrapper {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    width: 50%;
  }

  .contacts__icon-flag {
    display: block;
    order: -1;
    width: 175px;
  }

  .contacts__list {
    flex-direction: column;
    padding-left: 175px;
    width: 100%;
  }

  .contacts__title {
    @include font(53px, 1.1);
    padding-top: 82px;
    padding-bottom: 45px;
    padding-right: 50%;
    width: 350px;
  }

  .contacts__item {
    width: auto;
  }

  .contacts__icon-flag {
    margin-top: 72px;
  }

  .contacts__text,
  .contacts__link {
    padding-right: 55px;
    padding-left: 40px;
  }

  .contacts__link:after {
    left: 40px;
  }

  .contacts__map {
    position: absolute;
    top: 80px;
    right: 0;
    width: 50%;
    background-size: cover;
    overflow: hidden;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
