.main-nav {
  font-weight: bold;
  font-family: $font-primary;
}

.main-nav__list {
  @include reset-ul();
}

.main-nav__logo-image {
  width: 90px;
  height: 40px;
}

.main-nav__item:nth-of-type(1) {
  text-align: center;
}

.main-nav__item {
  border: 1px solid $light-border;
}

.main-nav__link:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-nav__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: $color-text;
}

.main-nav__link:first-child {
  text-align: left;
}

.main-nav__item--hidden {
  display: none;
}

.main-nav__item--hidden > .main-nav__link {
  padding-right: 35px;
}

@media (min-width: $tablet) {
  .main-nav__list {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    width:668px;
    margin: 0 auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
    align-content: stretch;
  }

  .main-nav__item--hidden {
    display: block;
    visibility: hidden;
  }

  .main-nav__item--logo {
    width: 320px;
    text-align: left;
  }

  .main-nav__link:first-child {
    text-align: left;
  }

  .main-nav__item:nth-of-type(2) {
    order: 1;
  }

  .main-nav__item:nth-of-type(2) .main-nav__link {
    padding-right: 35px;
  }

  .main-nav__item:nth-of-type(3) {
    order: 2;
  }

   .main-nav__item:nth-of-type(6) {
    order: 3;
  }

   .main-nav__item:nth-of-type(7) {
    order: 4;
  }

  .main-nav__item:nth-of-type(3) .main-nav__link {
    padding-right: 35px;
  }

  .main-nav__item--search {
    width: 83px;
  }

  .main-nav__item--basket {
    width: 265px;
  }
}

@media (min-width: $desktop) {
  .main-nav__list {
    width: 1050px;
  }

  .main-nav__item--hidden {
    display: block;
    visibility: visible;
  }

  .main-nav__item:nth-of-type(2) {
    order: -2;
  }

  .main-nav__item:nth-of-type(3) {
    order: -1;
  }

  .main-nav__item--basket {
    flex-grow: 1;
  }
}
