.modal {
  display: none;
  margin: 0 auto;
  padding: 35px 30px 45px 30px;
  min-width: 320px;
  max-width: 570px;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba($black, 0.25);
}

.modal__title {
  @include font(25px, 1.2);
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 350px;
  text-align: center;
  font-weight: bold;
}

.modal__text {
  @include font(15px, 2);
  margin: 0 auto;
  padding-bottom: 15px;
  max-width: 350px;
  text-align: center;
  color: $primary-color;
}

.size-form {
  margin: 0 auto;
  max-width: 350px;
}

.size-form__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}

.size-form__input-radio {
  display: none;
}

.size-form__label-radio{
  @include font(17px, 1.2);
  display: inline-block;
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 80px;
  text-align: center;
  border: 2px solid rgba($primary-color, 0.1);
}

.size-form__input-radio:checked + label {
  border-color: $accent;
}

.size-form__input-radio:hover + label {
  border-color: $opacity-color;
}

.size-form__input-radio:active + label {
  border-color: $second-accent;
}

.size-form__footer {
  padding-top: 0px;
}

.size-form__btn {
  color: $white;
  background-color: $accent;
  border-color: $accent;
    &:hover,
    &:active {
      background-color: #59d5bc;
      outline: none;
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: $tablet) {
  .modal {
    padding: 52px 110px 46px;
  }

  .modal__title {
    @include font(30px, 1.9);
  }

  .modal__text {
    @include font(17px, 1.8);
  }
}
