.order-form__group {
  margin: 0 auto;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 320px;
  border: none;
}

.order-form__title {
  @include font(17px, 1.4);
  position: relative;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  color: $accent;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: bold;
}

.order-form__title-type {
  padding-top: 25px;
}

.order-form__title-color {
  padding-bottom: 12px;
  padding-top: 27px;
}

.order-form__title-phone {
  padding-top: 32px;
  padding-bottom: 0;
}

.order-form__title:after {
  content: "";
  display: inline-block;
  position: relative;
  height: 1px;
  vertical-align: middle;
  background-color: $accent;
  width: 100%;
  margin-right: -100%;
  right: -25px;
}

.order-form__title-surname {
  padding-top: 22px;
  padding-bottom: 5px;
}

.order-form__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.order-form__label {
  @include font(17px, 1.1);
  display: inline-block;
  width: 260px;
  font-weight: bold;
}

.order-form__label:not(first-child) {
  padding-top: 21px;
}

.order-form__input-radio,
.order-form__input-check {
  display: none;
}

.order-form__label-radio,
.order-form__label-check {
  @include font(17px, 1.1);
  display: block;
  position: relative;
  font-weight: bold;
}

.order-form__label-radio:before {
  display: block;
}

.order-form__label-check {
  margin-top: 10px;
  margin-bottom: 10px;
}

.order-form__label-check:before,
.order-form__label-radio:before {
  display: inline-block;
  margin-right: 25px;
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid $primary-color;
  vertical-align: middle;
}

.order-form__label-radio:before {
  border: 2px solid $primary-color;
  border-radius: 50%;
}

.order-form__input-radio:checked +
.order-form__label-radio:after {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 12px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $second-accent;
}

.order-form__input-check:checked + label:after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 9px;
  left: 16px;
  margin-right: 25px;
  width: 8px;
  height: 18px;
  border-right: 2px solid #231f20;
  border-bottom: 2px solid #231f20;
  transform: rotate(45deg);
}

.order-form__input-radio:hover + label:before, .order-form__input-check:hover + label:before {
  border-color: $second-accent;
}

.order-form__input-radio:active + label:before, .order-form__input-check:active + label:before {
  border-color: $opacity-color;
}

.order-form__input {
  @include font(17px, 1.1);
  padding-top: 20px;
  padding-bottom: 12px;
  border: none;
  border-bottom: 2px solid $black;
}

.order-form__input-email {
  padding-top: 0;
}

::-webkit-input-placeholder {
  color: $opacity-color;
  padding-left: 10px;
  padding-top: 10px;
}

:-moz-placeholder {
  color: $opacity-color;
  padding-left: 10px;
  padding-top: 10px;
}

::-moz-placeholder {
  color: $opacity-color;
  padding-left: 10px;
  padding-top: 10px;
}

:-ms-input-placeholder {
  color: $opacity-color;
  padding-left: 10px;
  padding-top: 10px;
}

.order-form__input:hover,
.order-form__input:focus {
  border-bottom: 2px solid $second-accent;
  outline: none;
}

.order-form__message {
  @include font(17px, 1.1);
  width: 100%;
  height: 142px;
  border: 2px solid $primary-color;
  outline: none;
}

.order-form__footer {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  min-width: 320px;
}

.order-form__note {
  @include font(14px, 1.1);
  display: inline-block;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 30px;
}

.order-form__wrapper--size-phone {
  position: relative;
}

.order-form__icon-phone {
  width: 25px;
  height: 25px;
  fill: rgba($black, 0.2);
}

.order-form__icon-mail {
  width: 32px;
  height: 32px;
  fill: rgba($black, 0.2);
}

.order-form__icon-phone-wrapper {
  display: inline-block;
  position: absolute;
  top: 70px;
  right: 5px;
}

.order-form__icon-mail-wrapper {
  display: inline-block;
  position: absolute;
  top: 170px;
  right: 5px;
}

.order-form__input[name="tel"] {
  text-transform: uppercase;
    &:hover .order-form__icon-phone,
    &:hover .order-form__icon-mail {
      fill: $second-accent;
    }
    &:active .order-form__icon-phone,
    &:active .order-form__icon-mail {
      fill: $second-accent;
    }
}

@media (min-width: $tablet) {
  .order-form__group {
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .order-form__fieldset {
    display: flex;
    padding-top: 56px;
    padding-bottom: 33px;
  }

  .order-form__fieldset-color {
    padding-top: 40px;
  }

  .order-form__group:nth-of-type(2n){
    background: $color-bg;
  }

  .order-form__input {
    &[name="tel"],
    &[name="email"] {
      background: $color-bg;
    }
  }

  .order-form__title {
    padding-top: 15px;
    width: 167px;
      &:after {
        display: none;
      }
  }

  .order-form__title-color {
    padding-top: 25px;
  }

  .order-form__label-radio,
  .order-form__label-check {
    margin-bottom: 15px;
  }

  .order-form__label-radio:before {
    width: 52px;
    height: 52px;
  }

  .order-form__label-check:before {
    width: 54px;
    height: 51px;
  }

  .order-form__input-radio:checked +
  .order-form__label-radio:after {
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
  }

  .order-form__input-check:checked + label:after {
    top: 15px;
    left: 18px;
    width: 17px;
    height: 22px;
  }

  .order-form__label-radio {
    @include font(19px, 1.2);
    width: 334px;
      &[for="accessory"] {
        margin-bottom: 25px;
      }
  }

  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 501px;
    box-sizing: border-box;
      &--size-phone {
        width: 668px;
      }
  }

  .order-form__input {
    @include font(19px, 1.2);
    &[name="tel"],
    &[name="email"] {
      width: 75%;
    }
  }

  .order-form__input[name="firstname"] {
    padding-top: 15px;
  }

  .order-form__input[name="surname"],
  .order-form__input[name="fullname"] {
    padding-top: 40px;
  }

  .order-form__label-check {
    display: flex;
    align-items: center;
    width: 48%
  }

  .order-form__label[for="name"] {
    padding-top: 15px;
    width: 70px;
  }

  .order-form__label[for="surname"],
  .order-form__label[for="fullname"] {
    width: 125px;
  }

  .order-form__label:not(first-child) {
    padding-top: 40px;
  }

  .order-form__wrapper--size-surname {
    width: 75%;
  }

  .order-form__wrapper--size-surname input {
    flex-grow: 1;
    padding-top: 35px;
    width: 376px;
  }

  .order-form__fieldset-surname {
    padding-bottom: 50px;
  }

  .order-form__fieldset-phone {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .order-form__input[name="email"] {
    padding-top: 40px;
  }

  .order-form__title-email {
      padding-top: 35px;
  }

  .order-form__icon-phone-wrapper {
    top: 15px;
    right: 30px;
  }

  .order-form__icon-mail-wrapper {
    top: 90px;
    right: 25px;
  }

  .order-form__message {
    @include font(19px, 1.2);
    padding: 0;
    width: 501px;
  }

  .order-form__fieldset-message {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .order-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .order-form__note {
    @include font(17px, 1.8);
    order: 1;
    padding: 0;
  }

  .order-form__btn {
    margin-left: 0;
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .order-form__group {
    width: 1150px;
  }

  .order-form__title {
    width: 175px;
    text-align: center;
  }

  .order-form__wrapper {
    width: 700px;
      &--size-phone {
        width: 875px;
      }
  }

  .order-form__wrapper--size-color {
    width: 735px;
  }

  .order-form__label-radio {
    width: 525px;
  }

  .order-form__label-check {
    width: 230px;
  }

  .order-form__input[name="firstname"] {
    width: 630px;
  }

  .order-form__input[name="surname"],
  .order-form__input[name="fullname"] {
    width: 575px;
  }

  .order-form__input {
    &[name="tel"],
    &[name="email"] {
      width: 700px;
    }
  }

  .order-form__icon-phone-wrapper {
    top: 15px;
    right: 5px;
  }

  .order-form__icon-mail-wrapper {
    top: 90px;
    right: 5px;
  }

  .order-form__message {
    width: 700px;
  }

  .order-form__fieldset-message {
    padding-bottom: 36px;
  }

  .order-form__footer {
    padding-left: 225px;
    padding-right: 225px;
    width: 1150px;
  }
}
