.promo-text {
  @include font(13px, 1.8);
  margin: 0 auto;
  padding: 24px 30px 0;
  min-width: 320px;
}

@media (min-width: $tablet) {
  .promo-text {
    @include font(17px, 1.8);
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }
}

@media (min-width: $desktop) {
  .promo-text {
    padding-left: 225px;
    padding-right: 201px;
    width: 1150px;
  }
}
