.reviews__wrapper {
  margin: 0 auto;
  padding: 15px 30px 45px;
  min-width: 320px;
}

.reviews__title {
  @include font(25px, 1.2);
  margin: 0;
  padding-bottom: 22px;
  font-weight: bold;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  @include font(15px, 2);
  margin: 0;
  padding-bottom: 27px;
  color: $primary-color;
}

.reviews__author {
  display: inline-block;
  font-style: normal;
}

.reviews__author-name {
  @include font(17px, 1.2);
  margin-bottom: 5px;
  font-weight: bold;
}

.reviews__author-tag {
  @include font(17px, 1.2);
  display: block;
  padding-top: 5px;
  color: $primary-color;
}

.reviews__controls {
  padding-top: 35px;
  padding-bottom: 31px;
  width: 260px;
}

.hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reviews__control-btn {
  display: inline-block;
  position: relative;
  border: none;
  width: 50%;
  height: 52px;
  background: none;
  border: 1px solid $light-border;
  cursor: pointer;
  margin: 0;
}

.reviews__control-btn:hover:before, .reviews__control-btn:hover:after {
  border-color: rgba($black, 0.6);
}

.reviews__control-btn:checked:before,
.reviews__control-btn:checked:after {
  border-color: $opacity-color;
}

.reviews__control-btn--next {
  margin-left: -5px;
    &:before {
      content: "";
      position: absolute;
      top: 21px;
      left: 40px;
      width: 48px;
      border-bottom: 4px solid $black;
    }
    &:after {
      content: "";
      position: absolute;
      top: 14px;
      right: 40px;
      width: 18px;
      height: 18px;
      border-right: 4px solid $black;
      border-bottom: 4px solid $black;
      transform: rotate(-45deg);
    }
}

.reviews__control-btn--prev {
  &:before {
    content: "";
    position: absolute;
    top: 21px;
    right: 40px;
    width: 48px;
    border-bottom: 4px solid $black;
  }
  &:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 40px;
    width: 18px;
    height: 18px;
    border-left: 4px solid $black;
    border-bottom: 4px solid $black;
    transform: rotate(45deg);
  }
}


@media (min-width: $tablet) {
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 78px 50px 115px;
    width: 768px;
    background: url("../img/review@1x.jpg") no-repeat;
    background-size: auto 457px;
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__title {
    @include font(43px, 1.2);
    order: -2;
    padding-bottom: 45px;
    width: 50%;
  }

  .reviews__text {
    @include font(17px, 1.8);
    padding-bottom: 64px;
  }

  .reviews__author {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
  }

  .reviews__list {
    position: relative;
  }

  .reviews__controls {
    position: absolute;
    right: 0;
    padding: 0;
    bottom: -8px;
    width: 167px;
  }

  .reviews__btn {
    order: -1;
    align-self: flex-start;
    margin-right: 0;
    width: 175px;
  }

  .reviews__control-btn--prev {
    border: none;
    &:after {
      left: 14px;
    }
    &:before {
      right: 20px;
    }
  }

  .reviews__control-btn--next {
    border:none;
    &:after {
      right: 19px
    }
    &:before {
      left: 15px;
    }
  }
}

@media (min-width: $desktop) {
  .reviews__wrapper {
    padding: 0;
    padding-top: 77px;
    padding-bottom: 177px;
    width: 1050px;
  }

  .reviews__title {
    @include font(53px, 1.1);
  }

  .reviews__text {
    padding-bottom: 40px;
    padding-right: 75px;
  }

  .reviews__title,
  .reviews__list {
    padding-left: 175px;
  }
}
