.social__list {
  @include reset-ul();
}

.social__link svg {
  display: inline-block;
}

.social__list {
  display: flex;
}

.social__item {
  padding-right: 18px;
  padding-left: 15px;
}

@media (min-width: $tablet) {
  .social__list {
    width: auto;
  }
}
