.view-work {
  margin: 0 auto;
  padding: 0 30px 60px;
  min-width: 320px;
}

.view-work__top {
  padding: 25px 34px;
  border: 1px solid $light-border;
}

.view-work__description {
  padding: 31.5px 34px;
  border: 1px solid $light-border;
}
.view-work__title {
  @include font(17px, 1.4);
  margin: 0;
  padding-left: 57px;
  font-weight: bold;
}

.view-work__player {
  width: 260px;
  min-height: 150px;
}

.view-work__text {
  @include font(13px, 1.8);
  margin: 0;
  padding-bottom: 32px;
}

@media (min-width: 768px) {
  .view-work {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 63px;
    width: 768px;
  }

  .view-work__top {
    padding: 37px 41px 43px;
    border-bottom: none;
  }

  .view-work__title {
    @include font(20px, 1.2);
    padding-left: 107px;
  }

  .view-work__description {
    padding: 0 41px 45px;
    border-top: none;
  }

  .view-work__player {
    order: -1;
    width: 668px;
    min-height: 455px;
  }

  .view-work__text {
    @include font(15px, 2);
    padding-bottom: 24px;
  }
}

@media (min-width: 1150px) {
  .view-work {
    position: relative;
    margin-top: 57px;
    padding-bottom: 0;
    width: 1150px;
    min-height: 455px;
  }

  .view-work__player {
    position: absolute;
    left: 50px;
    width: 683px;
    border-top: 1px solid $light-border;
    border-left: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
  }

  .view-work__top {
    margin-left: auto;
    width: 367px;
    padding-left: 51px;
    border-left: none;
    border-top: 1px solid $light-border;
    border-right: 1px solid $light-border;
  }

  .view-work__description {
    margin-left: auto;
    margin-top: auto;
    width: 367px;
    padding-left: 79px;
    padding-bottom: 60px;
    border-left: none;
    border-bottom: 1px solid $light-border;
    border-right: 1px solid $light-border;
  }

  .view-work__title {
    padding-left: 28px;
    width: 225px;
    text-align: left;
  }

  .view-work__text {
    padding-bottom: 55px;
  }
}
