.main-nav {
  @include reset-ul();
  height: 320px;
  font-family: $font-primary-bold;
}

.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  height: 80px;
}

.main-nav__link {
  color: $color-text;
}
